html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif;
    max-width: 95vw;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    margin-right: 0;
    margin-left: 4em;
    color: #4a4a4a;
    background-color: white;
    padding: 13px;
    text-align: center;
}

.me {
    font-weight: bolder;
}

#aboutMe {
    text-align: right;
}

.about {
    text-align: left;
    border-radius: 25px;
    background-color: blanchedalmond;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#honesty {
    width: 500px;
}

.education {
    text-align: left;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.edu-container {
    justify-content: space-around;
    border-radius: 10px;
    background-color: #33a4f0;
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.flex-item {
    flex: 1 0 21%;
    padding: 5px;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    list-style-type: none;
}

.infoList {
    display: inline-block;
    list-style-type: none;
}

#infoTitles {
    font-weight: bolder;
}

.form-group {
    border-radius: 25px;
    background-color: #f3c06d;
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#one {
    display: grid;
}

#error {
    font-weight: bolder;
}

#contact {
    margin-left: 2em;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 30.0%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
            "Noto Sans", sans-serif;
        margin-right: 5em;
    }

    .infoList {
        display: inline;
    }
}